<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
</head>
<body>    <!--Footer-->
  <footer class="page-footer unique-color-dark  text-white" style="background-color: #001063;">
    <!-- Social buttons -->
    <div class="primary-color">
        <div class="container">
            <!--Grid row-->
            <div class="row  d-flex align-items-center">
                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-1 white-text">Conéctate con nosotros y conoce más de UNEMI</h6>
                </div>
            </div>
            <!--Grid row-->
        </div>
    </div>
  <div class="container mt-2 mb-4 text-center text-md-left">
    <div class="row mt-3">
  
        <!--First column-->
        <div class="col-md-4 text-center col-lg-4 col-xl-4 ">
          <h6 class="text-uppercase font-weight-bold">
            <strong>INGENIERÍA DE SOFTWARE</strong>
          </h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <div class="row">
              <div class="col-12 " >
                <img src="{% static 'img/unemiLogo.png' %}">
              </div>
            </div>
        </div>
        <!--/.First column-->
  
        <!--Second column-->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto  ">
        </div>
        <!--/.Second column-->
        <!--Third column-->
        <div class="col-md-4 col-lg-4 col-xl-4 px-4">
            <h6 class="text-uppercase font-weight-bold">
                <strong>Contacto</strong>
            </h6>
            <hr class="deep-purple accent-2  mt-0 d-inline-block mx-auto" style="width: 60px;">
            <div class="row">
              <div class="col-12">
                <p><i class="fas fa-home  "></i> Milagro, Ecuador</p>
                <p><i class="fas fa-print "></i>dtorres1@unemi.edu.ec</p>
                <p><i class="fas fa-print "></i>acolomao@unemi.edu.ec</p>
              </div>
            </div>
            
        </div>
        <!--/.Third column-->
  
    </div>
  </div>
  <!--/.Footer Links-->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-0">© 2023 Copyright:
      <form action="mailto:dtorres1@unemi.edu.ec"> UNIVERSIDAD ESTATAL DE MILAGRO</form>
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>